* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

#app-container {
    postion: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.invisible {
    visibility: hidden;
}
