.credentials-input-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 15;
  font-family: Roboto;
}

.credentials-input-view.dark-theme {
  background-color: #000000;
}

.credentials-input-view.light-theme {
  background-color: #ffffff;
}

.credentials-input-view .title-container {
  left: 0;
  width: 100%;
  margin-bottom: 0.5%;
}

.credentials-input-view .title {
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
}

.credentials-input-view .title.dark-theme {
  color: #f0f0f0;
}
.credentials-input-view .title.light-theme {
  color: #000000;
}

.credentials-input-view .email-container,
.credentials-input-view .password-container {
  left: 0%;
  width: 100%;
}

.credentials-input-view .email-input,
.credentials-input-view .password-input {
  position: absolute;

  width: 50%;
  max-width: 50%;
  left: 25%;

  top: 0;
  height: 100%;

  background-color: transparent;
  font-size: 2.5em;
}

.credentials-input-view input {
  border: 0.2em solid transparent;
}
.credentials-input-view input.dark-theme {
  color: #f0f0f0;
  border-bottom: 0.1em solid #3f4343;
}
.credentials-input-view input::placeholder.dark-theme {
  color: #737373;
}
.credentials-input-view input.light-theme {
  color: #0f0f0f;
  border-bottom: 0.1em solid #4a4b4b;
}
.credentials-input-view input::placeholder.dark-theme {
  color: #373737;
}

.credentials-input-view input.highlight.dark-theme {
  border-bottom: 0.1em solid #ffffff;
}
.credentials-input-view input.highlight.light-theme {
  border-bottom: 0.1em solid #000000;
}

.credentials-input-view .confirm-button-container {
  width: 100%;
  left: 0;
}

.credentials-input-view .confirm-button {
  position: relative;
  height: 100%;
  width: 50%;
  max-width: 50%;
  left: 25%;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5em;
  border-radius: 0.2em;
}
.credentials-input-view .confirm-button.focused {
  font-size: 3.0em;
  font-weight: bold;
}

.credentials-input-view .confirm-button.dark-theme {
  border: 0.25em solid white;
  color: #f0f0f0;
}
.credentials-input-view .confirm-button.light-theme {
  border: 0.25em solid black;
  color: #0f0f0f;
}

.credentials-input-view .confirm-button.dark-theme.focused {
  border: 0.25em solid #D2D2D2;
  /* background-color: #D2D2D2; */
  color: #353535;

}
.credentials-input-view .confirm-button.light-theme.focused {
  border: 0.25em solid #353535;
  /* background-color: #353535; */
  color: #D2D2D2;
}

.credentials-input-view .toggle-state-container {
  position: absolute;
  width: 100%;
  margin: 0.5em 0em;
  text-align: center;
  top: 70%;
  font-size: 2em;
}

.credentials-input-view .toggle-state-helper {
  float: right;
}
.credentials-input-view .toggle-state-text {
  float: left;
}

.credentials-input-view .toggle-state-helper,
.credentials-input-view .toggle-state-text {
  font-size: 1.25em;
}

.credentials-input-view .toggle-state-helper.light-theme,
.credentials-input-view .toggle-state-text.light-theme,
.credentials-input-view .description.light-theme {
  color: #000000;
}
.credentials-input-view .toggle-state-helper.dark-theme,
.credentials-input-view .toggle-state-text.dark-theme,
.credentials-input-view .description.dark-theme {
  color: #ffffff;
}

.credentials-input-view .description-container {
  width: 100%;
  top: 85%;
  text-align: center;
}
.credentials-input-view .description {
  font-size: 2.25em;
}

/* .credentials-input-view .app-icon-container {
  height: 20%;
  text-align: center;
}
.credentials-input-view .app-icon-container .app-icon {
  position: relative;
  top: -20%;
  left: -5%;
} */