.video-details-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-details-text-container {
    position: absolute;
    width: 45%;
    max-width: 45%;
    height: 50%;
    max-height: 50%;
    top: 15%;
    left: 0;
    padding-left: 7.5%;
    z-index: 15;
}

.video-details-title-container {
    max-width: 100%;
    max-height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-details-description-container {
    max-width: 100%;
    max-height: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-details-title {
    z-index: 50;
    font-size: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-details-description {
    font-size: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-details-title.dark-theme,
.video-details-description.dark-theme,
.video-details-buttons-container .button-text.dark-theme,
.video-details-buttons-container .button.focused .button-text.light-theme {
    color: #ffffff;
}

.video-details-title.light-theme,
.video-details-description.light-theme,
.video-details-buttons-container .button-text.light-theme,
.video-details-buttons-container .button.focused .button-text.dark-theme {
    color: #000000;
}

.video-details-buttons-container {
    position: absolute;
    width: 45%;
    max-width: 45%;
    height: 35%;
    max-height: 35%;
    top: 65%;
    left: 0;
    padding-left: 5%;
    z-index: 15;
}

.video-details-buttons-container .button {
    margin-bottom: 1em;
    width: 50%;
    margin-left: 10%;
    margin-right: 40%;
    border-radius: 1em;

    text-align: center;
}

.video-details-buttons-container .button.focused.dark-theme {
    background-color: #ffffff;
}

.video-details-buttons-container .button.focused.light-theme {
    background-color: #000000;
}

.video-details-buttons-containers .button-text {
    font-size: 3em;
    font-style: bold;
}

.video-details-buttons-container .button.dark-theme {
    border: solid 0.2em #ffffff;
}

.video-details-buttons-container .button.light-theme {
    border: solid 0.2em #000000;
}
