<script id="account-view-template" type="text/x-handlebars-template">
	<div class="account-view full-screen-view invisible {{ css.classes.theme }}" id="{{ css.ids.id }}">
		<div class="container-fluid">
			<div class="row">

				<!-- Display Account -->
				<div class="col-sm-6">
					<div class="row account-header {{ css.classes.theme }} ">Account</div>
					<div class="row account-email {{ css.classes.theme }} ">{{ email }}</div>
					<div class="row app-icon"></div>
				</div>

				<!-- Buttons Container -->
				<div class="buttons-container col-sm-6"></div>
			</div>
		</div>
	</div>
</script>