<script id="credentials-input-view-template" type="text/x-handlebars-template">
	<div class="credentials-input-view invisible {{ css.classes.theme }}" id="{{ css.ids.id }}">

		<div class="title-container">
			<p class="title {{ css.classes.theme }}">{{ title }}</p>
		</div>

		<div class="email-container">
			<input type="text" align="bottom" name="email" class="email-input {{ css.classes.theme }}" placeholder="Email" />
		</div>

		<div class="password-container">
			<input type="password" align="bottom" name="password" class="password-input {{ css.classes.theme }}" placeholder="Password" />
		</div>

		<div class="confirm-button-container">
			<div class="confirm-button {{ css.classes.theme }}">
				<p class="confirm-text {{ css.classes.theme }}">{{ confirmButton }}</p>
			</div>
		</div>

		<style>
			.credentials-input-view .title-container {
				position: absolute;
				height: {{ css.positions.title.height }};
				top: {{ css.positions.title.top }};
			}
			.credentials-input-view .email-container {
				position: absolute;
				height: {{ css.positions.email.height }};
				top: {{ css.positions.email.top }};
			}
			.credentials-input-view .password-container {
				position: absolute;
				height: {{ css.positions.password.height }};
				top: {{ css.positions.password.top }};
			}
			.credentials-input-view .confirm-button-container {
				position: absolute;
				height: {{ css.positions.confirm.height }};
				top: {{ css.positions.confirm.top }};
			}
		</style>

	</div>
</script>
