<script id="credentials-input-view-template" type="text/x-handlebars-template">
  <div class="credentials-input-view invisible {{ css.classes.theme }}" id="{{ css.ids.id }}">

    <div class="app-icon-container">
      <img class="app-icon" src="{{ images.appIcon }}" alt="App Icon"/>
    </div>

    <div class="title-container">
      <p class="title {{ css.classes.theme }}">{{ title }}</p>
    </div>

    <div class="email-container">
      <input type="text" align="bottom" name="email" class="email-input {{ css.classes.theme }}" placeholder="Email" />
    </div>

    <div class="password-container">
      <input type="password" align="bottom" name="password" class="password-input {{ css.classes.theme }}" placeholder="Password" />
    </div>

    <div class="confirm-button-container">
      <div class="confirm-button {{ css.classes.theme }}">
        <p class="confirm-text {{ css.classes.theme }}">{{ confirmButton }}</p>
      </div>
    </div>

    {{#ifCond showToggle "==" true }}
    <!-- show toggle -->
    <div class="toggle-state-container container">
    {{/ifCond}}
    {{#ifCond showToggle "!=" true }}
    <!-- don't show toggle -->
    <div class="toggle-state-container container invisible">
    {{/ifCond}}
      <div class="toggle-state-link row {{ css.classes.theme }}">
        <div class="col-sm-7">
          <p class="toggle-state-helper {{ css.classes.theme }}">{{ toggleStateHelper }}</p>
        </div>
        <div class="col-sm-5">
          <p class="toggle-state-text {{ css.classes.theme }}">{{ toggleStateText }}</p>
        </div>
      </div>
    </div>

    <div class="description-container">
      <p class="description {{ css.classes.theme }}">
        Enter a valid email and password. Account credentials will allow access on all devices
      </p>
    </div>

    <style>
      .credentials-input-view .app-icon-container {
        height: {{ css.positions.appIcon.container.height }};
      }
      /* .credentials-input-view .app-icon.app-icon-container {
        top: {{ css.positions.appIcon.image.top }};
      } */
      .credentials-input-view .title-container {
        position: absolute;
        height: {{ css.positions.title.height }};
        top: {{ css.positions.title.top }};
      }
      .credentials-input-view .email-container {
        position: absolute;
        height: {{ css.positions.email.height }};
        top: {{ css.positions.email.top }};
      }
      .credentials-input-view .password-container {
        position: absolute;
        height: {{ css.positions.password.height }};
        top: {{ css.positions.password.top }};
      }
      .credentials-input-view .confirm-button-container {
        position: absolute;
        height: {{ css.positions.confirm.height }};
        top: {{ css.positions.confirm.top }};
      }
      .credentials-input-view .confirm-button-container {
        position: absolute;
        height: {{ css.positions.confirm.height }};
        top: {{ css.positions.confirm.top }};
      }
      .credentials-input-view .toggle-state-container {
        position: absolute;
        top: {{ css.positions.toggle.top }};
      }
      .credentials-input-view .toggle-state-text.light-theme.focused,
      .credentials-input-view .toggle-state-text.dark-theme.focused {
        color: {{ css.classes.brandColor }};
      }
      .credentials-input-view .description-container {
        position: absolute;
        top: {{ css.positions.description.top }};
      }
    </style>

  </div>
</script>
