<script id="dialog-view-template" type="text/x-handlebars-template">
	<div class="dialog-view invisible {{ css.classes.theme }} " id="{{ css.ids.id }}">
		<div class="dialog-view-container">
			<div class="dialog-title-container">
				<h3 class="dialog-view-title {{ css.classes.theme }} ellipsis-text">{{ title }}</h3>
			</div>

			<div class="dialog-message-container">
				<p class="dialog-view-message {{ css.classes.theme }} ellipsis-text">{{ message }}</p>
			</div>
		</div>
	</div>
</script>
