<script id="media-grid-view-template" type="text/x-handlebars-template">
    <div class="media-grid-view {{ css.classes.theme }}" id="{{ css.ids.id }}">
        <div class="app-icon-container">
            <img class="app-icon" src="{{ images.appIcon }}" alt="App Icon">
        </div>

        <img
            src="assets/images/placeholder.png"
            alt="Large thumbnail"
            class="large-thumbnail" />

        <div class="media-grid-rows">
            {{#each rowData}}
            <div class="media-grid-row">
                <div class="media-grid-row-title">
                    {{title}}
                </div>

                <div class="media-grid-row-thumbnails-container">
                    {{#each data}}
                        {{#ifCond thumbnailLayout "==" "landscape" }}
                        <img
                            src="{{smallThumbnailUrl}}"
                            alt="Small thumbnail for {{title}}"
                            class="{{ ../../css.classes.theme }} media-grid-thumbnail" />
                        {{/ifCond}}

                        {{#ifCond thumbnailLayout "==" "poster"}}
                        <img
                            src="{{posterThumbnailUrl}}"
                            alt="Poster thumbnail for {{title}}"
                            class="{{ ../../css.classes.theme }} media-grid-thumbnail" />
                        {{/ifCond}}
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>

    </div>

</script>
