<script id="media-grid-view-template" type="text/x-handlebars-template">
    <div class="media-grid-view {{ css.classes.theme }} invisible" id="{{ css.ids.id }}">
        <div class="app-icon-container">
            <img class="app-icon" src="{{ images.appIcon }}" alt="App Icon">
        </div>

        <div class="large-thumbnail-container">
          <img
            src="assets/images/placeholder.png"
            alt="Large thumbnail"
            class="large-thumbnail" />
        </div>

        <div class="large-thumbnail-overlay-container">
          <img
            src="assets/images/overlay.png"
            alt="thumbnail overlay"
            class="large-thumbnail-overlay" />
        </div>

        <div class="focused-content-info-container">
            <div class="focused-content-info-title-container">
                <h1 class="focused-content-info-title {{ css.classes.theme }}"></h1>
            </div>
            <div class="focused-content-info-description-container">
                <p class="focused-content-info-description {{ css.classes.theme }}"></p>
            </div>
        </div>

        <div class="media-grid-rows-window">
          <div class="media-grid-rows-container">
            {{#each rowData}}
            <div class="media-grid-row {{thumbnailLayout}} ">
                <div class="media-grid-row-title-container">
                    <h2 class="media-grid-row-title {{ ../css.classes.theme }} ">{{title}}</h2>
                </div>

                <div class="media-grid-row-thumbnails-container">
                    {{#each content}}
                        <img
                            src="{{smallThumbnailUrl}}"
                            alt="Small thumbnail for {{title}}"
                            class="{{ ../../css.classes.theme }} media-grid-thumbnail media-grid-landscape-thumbnail" />
                    {{/each}}
                </div>
            </div>
            {{/each}}

          </div>
        </div>

    </div>

</script>
